<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title' style='color: #900C3F'>Yoga Pose Classifier(Beta)🧘</div>
        <p style='font-size:20px'>
            Detect if your pose is downward dog, boat, chair or triangle!!
        </p>
        <div class='content' style='margin-top: 5em'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' style='border: solid 1px #900C3F; font-size: 16px; color: #900C3F' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label' style='font-size:16px'>
                <label id='upload-label' style='font-size:16px'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked'  style='font-size:16px' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' style='border: solid 1px #900C3F; background-color: #900C3F; font-size: 16px' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label' style='font-size:16px'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
