body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #900C3F;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 11px;
    font-size: 15px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #900C3F;
  font-size: 16px;
  color: #900C3F;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #900C3F;
    border-radius: 2px;
    background-color: #900C3F;
    font-size: 16px;
    color: #ffffff;
}

button:focus {outline:0;}
